/*--------------------------------------------------------------
# Blog Content
--------------------------------------------------------------*/

/*---------front page blogs styling (display block in mobile)-----------*/
#mobile-frontpage{
	.blog-wrapper{
			margin-top: 40px;
			margin-bottom: 40px;
	}

		.single-blog-wrapper {
            width: 100%;
            height: 200px;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 25px;
            border-top: 1px solid #000;
     
        .text-wrapper {
            flex: 1 50%;
            padding: 15px;
            overflow: hidden;
            h3{
                font-size: 1.4em;
            }
        }

        .feature_img {
            height:auto;
            border: 1px solid #000;
            flex: 0 70%;
            img{
                width: 100%;
                height: 100%;
            }
        }
}


}



.first-single-image {
    	border: 1px solid #000;
    	
    	img{
    		width: 100%;
    		height: 100%;
    	}
}

.single_blog_img{
    
    img{
    	width:100%;
    }
}

figcaption.wp-caption-text {
    color: #ff00e3;
}

img.size-medium {
    width: 100%;
 }

code {
    font-size: 87.5%;
    color: #e83e8c;
    font-size: 1em;
    word-break: break-word;
    width: 100%;
    height: 30px;
    height: 50px;
    background-image: linear-gradient(to right, rgba(1, 196, 211, 0.48), rgba(244, 199, 238, 0));
}
/*#mobile-blog-page{
	single-blog-wrapper{
		img{
			width: 100%;
		}
	}
}*/