/*--------------------------------------------------------------
# Blog Content
--------------------------------------------------------------*/

/*---------front page blogs styling-----------*/

.blog_in_front_page{
	margin-top: 40px;
	display: flex;
	height: 150px;

	h3{
		font-size: 1.3em;
	}
	
	.left-text-wrapper{
		flex: 0 49%;
	}

	.feature_img{
		flex: 0 49%;
	}

}

.single-blog-wrapper{
	border-top: 1px solid #000;
	padding-top: 10px;
}

