/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: #ccc #bbb #aaa;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*-----------Form Styling----------------*/
.wpcf7-form{
	div{
		margin-bottom: 15px;
		h2{
			font-weight: bold;
			margin-bottom: 25px;
		}
		label{
			margin: 20px 0;
		}
	}
}

input[type=text],input[type=email]{
	border: none;
	border-bottom: 1px solid #000;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 5px;
}

span.wpcf7-list-item {
    display: block;
}    

.checkmark input{
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 22px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;

  span{
  	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: #eee;
	  border-radius: 50%;
  }
}

/*-------Form Next Button---*/
form{

	 h2{
    	font-size: 36px;
	}

	.next_btn{
		background: none;
		border: none;
		box-shadow: none;
		text-shadow: none;
		border-bottom: 1px dashed;
		color: #000;
	}
}

/*---Radio button and Checkbox customizaion ----*/

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 0; 
}

.wpcf7-form div label {
     margin-top: 0;
}

.checkmark input[type='radio'],.checkmark input[type='checkbox']{
    position: relative;
    top: 16px;
}

input[type='radio'],input[type='checkbox'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #000;
  border-radius:50%;
  outline:none;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before,input[type='checkbox']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}

input[type='radio']:checked:before,input[type='checkbox']:checked:before {
  background:#01c4d3;
  color:#01c4d3;
}

.wpcf7-form div label {
     margin: 2px 0 !important; 
}

form.wpcf7-form {
    margin-left: 15%;
}