/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
<<<<<<< HEAD

/* Front page */



/*------------Mobile Nav----------------------*/
.mobile-menu{
	height: 50%;
	a{
	color: red;
	}
}
#mobile-navigation a{
	color: black;
=======
/* Front page */
/*------------Mobile Nav----------------------*/
.mobile-menu{
    height: 50%;
    a{
    color: red;
    }
}
#mobile-navigation a{
    color: black;
>>>>>>> origin/master
}
.scrolled-nav{
div.menu-menu-1-container {
    display: block !important;
}
}
#mobile-navigation button{
<<<<<<< HEAD
	width: 100%;
	background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
	color: white;
=======
    width: 100%;
    background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
    color: white;
>>>>>>> origin/master
}
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

/*-----------Desktop nav------------------------*/
#desktop-navigation{
    background: linear-gradient(to right, #01c4d3, #f4c7ee);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: height .5s;
    width: 100%;
  
    justify-content: center;
    align-items: center;
    -webkit-transition: height .5s, line-height .5s; 
    transition: height .5s, line-height .5s;
    top: 0;
    margin-top: 25px;
    div.menu-menu-1-container {
        display:none;
    }
}
.nav-height {
    height:45px;
}
.nav-full-height {
    height: 100vh;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.scrolled-nav {
        justify-content: left !important;
        height: 90px !important;
        line-height: 60px !important;
  
}
  
.scrolled-nav .logo{
      width: 60px;
}

.scrolled-nav {
			div.menu-menu-1-container{
						display: block;
		  	}
}

.menu-toggle:click{
	display: block;
}

div.container{
	display: flex;
    align-items: flex-end;
    justify-content: center;
}

#primary-menu a{
	 margin-left: 25px;
	 color: white;
}

/*--------------- Navigation bar media screens----------*/

@media screen and (min-width: 425px) {

#desktop-navigation {display: flex;}

#mobile-navigation {display: none;}

};

@media screen and (max-width: 424px) {
  #mobile-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #desktop-navigation {
    display: none; 
   }
  .scrolled-nav {
    display: none; 
  }  
}