
/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*------------Mobile Nav----------------------*/
.mobile-menu{
    height: 84%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     .menu-menu-2-container{
           font-size: 47px;
           line-height: 1.5;
        }
    }
.mobile-logo{
    width: 85%;
    text-align: left;
    padding-top: 20px;
}
.mobile-close{
    font-size: 34px;
    margin-top: 25px;
    a{color: white;
}
}

.scrolled-nav{
    div.menu-menu-1-container {
           width: 100%;
        display: flex;
        justify-content: left;
    }
}

#mobile-navigation button{
    width: 100%;
    background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
  right: 600;

}
footer #mobile-navigation{
    flex-direction: column;
    justify-content: end;
    align-items: center;
    img{
        height: 70px;
    }
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*-----------Desktop nav------------------------*/
.nav-full-height{
    background: linear-gradient(to right, #01c4d3, #f4c7ee);
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    -webkit-transition: height .5s;
    width: 100%;
    justify-content: center;
    align-items: center;
    -webkit-transition: height .5s, line-height .5s; 
    transition: height .5s, line-height .5s;
    color: white;
    div.menu-menu-1-container {
        display:none;
    }
}
.nav{
    margin-left: 3%;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
}
.mentor-text{
    padding-top: 47px;
    font-size: 36px;
}
.nav-height {
    background: linear-gradient(to right, #01c4d3, #f4c7ee);
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 0;
    height: 18%;
    padding-left: 3%;
}


.nav-height .logo {
height: 70px;
width: 60px;

}
.nav-full-height {
    flex-direction: column;
    height: 100vh;
        .logo{
            width: 100%;
            height: 100%;
         }
    }
    


@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

 .scrolled-nav {
        height: 19% !important;
        line-height: 93px !important;
        flex-direction: row;
        transition: 4s;
        padding-top: 3%;

  }
.scrolled-nav .logo{
      width: 60px;
      transition: 3s;
      margin-left: 0;
}


*::selection {
  background: #F4C7EE; /* WebKit/Blink Browsers */
}

.home_logo{
        width: 495px;
        height: 552px;
}

.front-page-wrapper{
    width: 100%;
    margin-left: 4%;
}

ol.front_page_intro { 
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    li:before { 
        content: counter(item) "   "; 
        counter-increment: item ;
    }
    li{
        font-size: 56px;
    }
}

@media screen and (min-width: 1439px) {   
 .scrolled-nav {
        height: 13% !important; 
        padding-top: 3%;
    }
.scrolled-nav .logo{
        width: 60px;
        transform: translate(-550px,-20px);
        transition: 3s;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {  
.scrolled-nav {
        height: 15% !important; 
        padding-top: 4%;
    }  
.scrolled-nav .home_logo{
        width: 60px;
        /*transform: translate(-290px,-20px);
        transition: 3s;*/
        margin-left: 0;
}
}
.scrolled-nav {
        div.menu-menu-1-container{
            display: block;
            position: fixed;
            margin-left: 5%;
}
            }
.mentor-content{
    display: none;
}


.menu-toggle:click{
    display: block;
}


.box{
	display: flex;
    align-items: flex-end;
   
}

#primary-menu a{
     margin-left: 25px;
     color: white;
}
#mobile-navigation a{
    margin: 0;
    color: white;
}
#mobile-navigation ul{
    margin: 0;
    padding:0;
}
/*--------------- Navigation bar media screens----------*/

/*------Desktop Media Screen------------*/
@media screen and (min-width: 426px) {
    .scrolled-nav {
        height: 13% !important; 
        padding-top: 3%;
    }

    .scrolled-nav .logo{
        width: 60px;
        transform: translate(-620px,-5px);
        transition: 3s;
    }

        .container{
            padding-top: 100px;
        }

        .d-container{
            padding-top: 180px;
        }  

        .content-container{
            padding-top: 100px;
        }

        #desktop-navigation {
            display: flex;
            z-index: 1;
        }

        .scrolled-nav{
                .mentor-text{
                     display: none;
                }
        }
            
        .black-logo{
            display: none;
        }

        #mobile-block {display: none;}

        nav.nav-height {
                    .menu-menu-1-container{
                                display: flex !important;
                                align-items: center;
                                margin-left: 5%;
                    }
                    p{
                        display: none;
                    }
        }


        #moblie-frontpage {display: none;}

        .simplified_text { display: none;}

        .desktop-register-link {display:block;}

        .mobile-register-link {display:none;}

        .register_text{
                padding: 50px 0 80px 0;
                font-size: 32px;
        }

        .header-blog{ display: none;} 
    

    /*About page*/
    #about-page{
        padding-top: 14%;
        width:65%;
    }
    .tabrez {
        display: grid;
        grid-template-columns: 1fr 1fr;  
    }

    .tom{
        display: grid;
        grid-template-columns: 1fr 1fr;  
    }

/*about page - switch grid areas*/
.tom div:nth-of-type(1) {
    order: 2;
  }
  
  .tom div:nth-of-type(2) {
    order: 1;
  }

/*about page - hide names for desktop*/
  .tom-name{
    display: none;
  }
  .tabrez-name{
    display: none;
  }
  .blue-line{
    display: none;
  }
/*resources page*/
#primary.resources-area{
    padding-top: 10%;
    display: flex;
    justify-content: left;
    width: 100%;
}
.resource-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    article{
        width: 330px;
    }
}
.resource-hr{
    width: 100%;
}
.resource-info{
    font-size: 40px;
    font-weight: 600;
    width:50%;
}
/*-----Blog page----*/

    .first-single-image {
        height: 400px;
        width: 810px;
    }

    img.size-medium {
        width: 100%;
        height: 600px;
    }

/*---Archive blog page(index.php)---*/
    .blog-wrapper{
            margin-top: 100px;
    }

    .single-blog-wrapper {
            width: 65%;
            height: 600px;
            margin: 0px auto 96px auto;
            text-align: center;
            border:none;
            display: flex;
            flex-direction: column-reverse;

        .text-wrapper {
            flex: 1 50%;
            padding: 5px 120px;
            overflow: hidden;
            font-size: 16px;
            border:1px solid #000;
            border-top: none;
            
            h3.blog-name {
                font-size: 18px;
            }
            .author{
                color: #777777;
                font-size: 12px;
            }
        }

        .feature_img {
            height: 400px;
            flex: 0 70%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

}

/*resource single*/
.resource-template-default{
        padding-top: 10%;
}


/*------Mobile Media Screen------------*/

@media screen and (max-width: 425px) {

      .container{
            padding-top: unset;
        }

      .d-container{
            padding-top: unset;
      }  

      .content-container{
            padding-top: 30px;
      }  

      #desktop-navigation {
        display: none; 
       }

      .scrolled-nav {
        display: none; 
      }  


      #moblie-block { display: block;}

      ul li{ list-style: none}
      
      #moblie-frontpage {display: block;}
      .simplified_text {display: block;}
      .desktop-register-link{display:none;}
      .mobile-register-link {display:block;}
      .header-blog{ display: none;}

      /*mobile about page*/
    .about{
        padding-bottom: 40%;
    }

    div.tom-grid{
        display: grid;
        grid-template-columns: 40% 60%;
    }

      .tom-name{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.tab-grid{
        display: grid;
        grid-template-columns: 43% 60%;
    }

      .tabrez-name{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blue-line{
        width: 100%;
        height: 3px;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
        margin-bottom: 12%;
        margin-top: 12%;
    }
    /*mobile resource page*/
    .resource-info{
        font-size: 20px;
        font-weight: 600;
        width:80%;
    }

/*--Single -Blog Page----*/
    .first-single-image {
            height: 300px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    img.size-medium {
        width: 100%;
        height: 300px;
    }


/*---Archive blog page(index.php)---*/
    .short-description{
        display: none;
    }

    .single-blog-wrapper {
            width: 100%;
            height: 200px;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 25px;
            border-top: 1px solid #000;
     
        .text-wrapper {
            flex: 1 50%;
            padding: 5px 150px;
            overflow: hidden;

            h3.blog-name {
                font-size: 18px;
            }
        }

        .feature_img {
            height:auto;
            border: 1px solid #000;
            flex: 0 70%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

} /*-----------End of Media Queries-----------------*/

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
    color: white;
    display: flex;
    text-align: center;
    left: 0;
  }

  .copyright{
    position: relative;
    bottom: 16px;
    font-size: 10px;
    left: 0;
   }

/*---Radio button and Checkbox customizaion ----*/
form h2{
    font-size: 36px;
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 0; 
}

.wpcf7-form div label {
     margin-top: 0;
}

.checkmark input[type='radio'],.checkmark input[type='checkbox']{
    position: relative;
    top: 16px;
}

input[type='radio'],input[type='checkbox'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #000;
  border-radius:50%;
  outline:none;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before,input[type='checkbox']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}


input[type='radio']:checked:before,input[type='checkbox']:checked:before {
  background:#01c4d3;
  color:#01c4d3;
}


.wpcf7-form div label {
     margin: 2px 0 !important; 
}

form.wpcf7-form {
    margin-left: 15%;
}