/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


/* Navigation bar */

@media screen and (min-width: 425px) {

#desktop-navigation {display: block;}
#mobile-navigation {display: none;}

}

@media screen and (max-width: 425px) {

#desktop-navigation {display: none;}
#mobile-navigation {display: block;}

}