/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/*---------front page styling -----------*/




/*------------Mobile Nav----------------------*/
.mobile-menu{
    height: 84%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     .menu-menu-2-container{
        font-size: 44px;
        line-height: 1.5;
        }
    }
.mobile-logo{
    width: 85%;
    text-align: left;
    padding-top: 40px;
}
.mobile-close{
    font-size: 34px;
    margin-top: 55px;
    a{color: white;
}
}

.scrolled-nav{
div.menu-menu-1-container {
    display: block !important;
}
}
#mobile-navigation button{
	width: 100%;
	background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
	color: white;
}
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
  right: 600;

}
footer #mobile-navigation{
    
    flex-direction: column;
    justify-content: end;
    align-items: center;
img{
    height: 70px;
}
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*-----------Desktop nav------------------------*/
.nav-full-height{
    background: linear-gradient(to right, #01c4d3, #f4c7ee);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: height .5s;
    width: 100%;
    justify-content: center;
    align-items: center;
    -webkit-transition: height .5s, line-height .5s; 
    transition: height .5s, line-height .5s;
    top: 0;
    margin-top: 25px;
    div.menu-menu-1-container {
        display:none;
    }
}
.nav{
    margin-left: 3%;
    flex-direction: column;
    text-align: center;
    color: white;
}
.mentor-text{
    padding-top: 10px;
}
.nav-height {
    background: linear-gradient(to right, #01c4d3, #f4c7ee);
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10%;
    top: 0;
    margin-top: 25px;
}

.nav-height .logo {
height: 70px;
weight: 60px;
    height:45px;
}
.nav-full-height {
    height: 100vh;
    .logo{
    width: 247.5px;
    }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.scrolled-nav {
        flex-direction: column!important;
        align-items: flex-start;
        height: 90px !important;
        line-height: 60px !important;
       
  
}
  
.scrolled-nav .logo{
      width: 60px;
}

.scrolled-nav {
			div.menu-menu-1-container{
						display: block;
		  	}
.mentor-content{
    display: none;
}
}

.menu-toggle:click{
	display: block;
}

div.container.box{
	display: flex;
    align-items: flex-end;
    justify-content: center;
}

#primary-menu a{
	 margin-left: 25px;
	 color: white;
}
#mobile-navigation a{
    margin: 0;
    color: white;
}
#mobile-navigation ul{
    margin: 0;
    padding:0;
}
/*--------------- Navigation bar media screens----------*/

/*------Desktop Media Screen------------*/
@media screen and (min-width: 426px) {

        .container{
            padding-top: 100px;
        }

        .d-container{
            padding-top: 180px;
        }  

        #desktop-navigation {
            display: flex;
        }

        .scrolled-nav{
                .mentor-text{
                     display: none;
                }
        }
            

        #mobile-block {display: none;}

        nav.nav-height {
                    .menu-menu-1-container{
                                display: flex !important;
                                align-items: center;
                    }
                    p{
                        display: none;
                    }
        }

        #moblie-frontpage {display: none;}

        .simplified_text{ display: none;}

        .register_text{
                padding: 50px 0 100px 0;
        }
}
/*------Mobile Media Screen------------*/

@media screen and (max-width: 425px) {

      .container{
            padding-top: unset;
        }

      .d-container{
            padding-top: unset;
      }  

      #desktop-navigation {
        display: none; 
       }

      .scrolled-nav {
        display: none; 
      }  



  #moblie-block { display: block;}

  ul li{ list-style: none}
  
  #moblie-frontpage {display: block;}

  .simplified_text {display: block;}

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}



footer{
    background-image: linear-gradient(to right, #01c4d3, #f4c7ee);
    color: white;
    display: flex;
    text-align: center;
}
